@model IEnumerable<_00003741_DBSD_CW2.Models.ProductOrder>
<br />
<h4> @Html.ActionLink("Back", "Index")</h4>
<h3>Ordered Items</h3>
<br/><br />
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.InStock)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.InStock)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Remove", "Remove", new { id=item.Id })
        </td>
    </tr>
}

</table>
<br/><br/>
<h4>@ViewBag.Total  </h4>
<h4>
@Html.ActionLink("Pay", "Pay")
</h4>