@model IEnumerable<_00003741_DBSD_CW2.Models.Products>

<p>
    <br /><br />
    <h4>@ViewBag.Count </h4>

    <h4>@Html.ActionLink("Go to Cart", "GoToCart")</h4>
    <br/><br />
</p>

@using (@Html.BeginForm("Search", "Order"))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Product Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("SearchDescription", "", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Producer Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("SearchName", "", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            <h4>@Html.ActionLink("Producer Name","SortByName", "Order")</h4>
        </th>
        <th>
            <h4>@Html.ActionLink("Product Name", "SortByDescription", "Order")</h4>

        </th>
        <th>
            <h4>Price</h4>

        </th>
        <th>
            <h4>In Stock</h4>

        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InStock)
        </td>
        <td>
            @Html.ActionLink("Add to cart", "AddToCart", new { Id = item.Id })
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
